@import './variables.scss';

.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;

    .dashboard-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2%;

        &.dashboard-subheader {
            width: 100%;
            .group-menu {
                width: 50%;

                .dashboard-menuitem {
                    width: 60%;
                    margin-right: 10%;
                    .dashboard-select {
                        width: 100%;
                        margin-top: 3%;
                        border: 1px solid #ccc;
                        height: 40px;
                    }
                }
            }
            .action-button-right {
                margin-right: 2%;

                .add-graph {
                    width: 200px;
                    margin-right: 5%;
                    border: 1px solid $main-color;
                    color: $main-color;
                    background-color: transparent !important;
                    border-radius: 14px;
                    transition: 0.25s;

                    &:hover {
                        background-color: $main-color !important;
                        color: white;
                    }
                }
            }

            .graph-type-container {
                margin-top: 10px;

                .graph-type-item {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #ccc;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: 0.25s;

                    &:hover, &.active {
                        border-color: $main-color;
                        color: $main-color;
                    }
                }
            }
        }

        .dashboard-name-input {
            background: none;
            border: 1px solid $button-color-secondary;
            border-radius: 14px;
            text-align: center;
            padding: 0 1%;

            &:focus {
                border-color: $main-color;
            }
        }

        .dashboard-select {
            border: none;
            background: none;
            width: 20%;
            padding: 1%;

            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 5px;
        }

        .action-button-container {
            display: flex;
            margin-right: 2%;
            align-items: center;

        }
        .action-button {
            border: none;
            border-radius: 14px;
            color: white;
            width: 100px;
            margin-left: 3%;
            cursor: pointer;
            padding: 5% 0;

            &.main-button {
                background-color: $main-color;
            }
            &.secondary-button {
                background-color: $button-color-secondary;
            }
        }
    }
}



// dashboard items
.dashboard-item-container {
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 1px 1px 4px #9D9D9D;
    width: 700px;
}