.tab1 {

    width: 150px;
    height: 50px;
    background: #E5E5E5;
    border: none;
    border-radius: 14px 14px 0px 0px;
    position: relative;
    top:37px ;
    left: 44.8px;

    &:hover {
        background: #ffffff;

        &:hover {
            background: #ffffff;
        }

        &:hover {
            background: #ffffff;
        }

        &:visited {
            background: #ffffff;
        }
    }
}

.tab2 {

    width: 150px;
    height: 50px;
    background: #E5E5E5;
    border: none;
    border-radius: 14px 14px 0px 0px;
    position: relative;
    top:37px ;
    left: 44px;

    &:hover {
        background: #ffffff;

        &:hover {
            background: #ffffff;
        }

        &:hover {
            background: #ffffff;
        }

        &:visited {
            background: #ffffff;
        }
    }

}